<p id="notice"><%= notice %></p>

<h1>Welcome to the us kids' online chat website!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Said</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title.upcase %></td>
        <td><%= blog.body %></td>
        <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Take back what you said', blog, method: :delete, data: { confirm: 'Are you really really sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Have something to say?', new_blog_path %>
